@import url("reset.css");

.wrapper { 
	width : 100%; 
	min-height: 100vh;
	overflow-x: hidden;
}

.container{
	max-width:  1200px;
	margin: 0 auto;
	width: 100%;
}

.scroll_none {
	overflow: hidden;
}
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 200;
	src: url('font/NotoSansKR-Light-Hestia.eot');
	src: url('font/NotoSansKR-Light-Hestia.eot?#iefix') format('embedded-opentype'), 
		 url('font/NotoSansKR-Light-Hestia.woff') format('woff'), 
		 url('font/NotoSansCJKkr-Light.ttf') format('truetype');
}
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 400;
	src: url('font/NotoSansKR-Regular-Hestia.eot');
	src: url('font/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'), 
		 url('font/NotoSansKR-Regular-Hestia.woff') format('woff'), 
		 url('font/NotoSansCJKkr-Regular.ttf') format('truetype');
}
/* semi-Bold */
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 600;
	src: url('font/NotoSansKR-Medium-Hestia.eot');
	src: url('font/NotoSansKR-Medium-Hestia.eot?#iefix') format('embedded-opentype'), 
		 url('font/NotoSansKR-Medium-Hestia.woff') format('woff'), 
		 url('font/NotoSansCJKkr-Medium.ttf') format('truetype');
}
/* Bold */
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 900;
	src: url('font/NotoSansKR-Bold-Hestia.eot');
	src: url('font/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'), 
		 url('font/NotoSansKR-Bold-Hestia.woff') format('woff'), 
		 url('font/NotoSansCJKkr-Bold.ttf') format('truetype');
}					

/*========================================================================================================================
	guaid
==========================================================================================================================
*/
.mgb5 {
	margin-bottom:5px !important
}
.mgb10{
	margin-bottom:10px !important
}
.mgb20{
	margin-bottom:20px !important
}
.mgb30{
	margin-bottom:30px !important
}
.mgb40{
	margin-bottom:40px !important
}
.mgb50{
	margin-bottom:50px !important
}
.mgb60{
	margin-bottom:60px !important
}
.mgb70{
	margin-bottom:70px !important
}
.mgb80{
	margin-bottom:80px !important
}
.mgb90{
	margin-bottom:90px !important
}

.mgt5{
	margin-top:5px !important
}
.mgt10{
	margin-top:10px !important
}
.mgt20{
	margin-top:20px !important
}
.mgt30{
	margin-top:30px
}
.mgt40{
	margin-top:40px
}
.mgt50{
	margin-top:50px
}
.mgt60{
	margin-top:60px
}
.mgt70{
	margin-top:70px
}
.mgt80{
	margin-top:80px
}
.mgt90{
	margin-top:90px
}
.mgt100{
	margin-top:100px
}

/*margin-left*/
.mgl10{
	margin-left:10px
}
.mgl20{
	margin-left:20px
}
.mgl40{
	margin-left:40px
}
.mgl50{
	margin-left:50px
}
.mgl60{
	margin-left:60px
}
.mgl70{
	margin-left:70px
}
.mgl80{
	margin-left:80px
}
.mgl90{
	margin-left:90px
}
/*
=======================================================================
common
=======================================================================
*/

input[placeholder]{
	font-size:14px
}
textarea[readonly]{
	background-color: #f7f7f7;
}
input[readonly]{
	background-color: #f7f7f7;
}
input[disabled]{
	background-color: #f7f7f7;
}
button {
	text-align: center;
}

input[type=checkbox] {
	width: 0;
	height: 0;
	appearance: none;
}
input[type=checkbox] + label {
	padding-left: 30px;
	position: relative;
}
input[type=checkbox] + label::after{
	content: "";
	width: 20px;
	height: 20px;
	border: 1px solid #cdcdcd;
	position: absolute;
	left: 0;
	top: 0;
}
input[type=checkbox]:checked + label::after{
	content: "";
	width: 20px;
	height: 20px;
	border: 1px solid #cdcdcd;
	background-color: #c9242b;
	position: absolute;
	left: 0;
	top: 0;
}
.al_center {
	text-align: center;
}
.al_right {
	text-align: right;
}
.red {
	color: #d8191f;
}
.tb {
	display: table;
	width:100%;
}
.tb  > div {
	display: table-cell;
	text-align: center;
	width: 50%;
}
.tb > div.right{
	text-align: right;
}
.tb > div.left{
	text-align: left;
}
.tb.type3 > div{
	width: 33.333%;
}
.tb.type4 > div{
	width: 25%;
}
.tb.type5 > div{
	width: 20%;
}
.form_type {
	width: 100%;
}
.form_type .title {
	width: 100%;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
}
.form_type input[type=text],.form_type input[type=password],.form_type input[type=tel]{
	width: 100%;
	border: none;
	border-bottom: 2px solid #000;
	font-size: 13px;
	padding: 12px 0;
	height: 48px;
}
.form_type input[type=text].fail,
.form_type input[type=password].fail,
.form_type input[type=tel].fail {
	border-color: #c9242b;
}
.form_type > div {
	margin-top: 25px;
}
.form_type .form_cmt {
	font-size: 14px;
	margin-top: 10px;
}
.form_type.type1 input[type=text],.form_type.type1 input[type=password],.form_type.type1 input[type=tel] {
	border: 1px solid #b4b4b4;
	padding-left: 20px ;
	padding-right: 20px ;
}
.form_type.type1 input[type=text].fail,
.form_type.type1 input[type=password].fail,
.form_type.type1 input[type=tel].fail{
	border-color: #c9242b;
}
.form_type.type1 > div {
	margin-top: 8px;
}
.form_type .required.pw input{
	background: url(../img/icon_show.png) no-repeat right center ;
}
.form_type .required.pw input.fail{
	background: url(../img/icon_show_fail.png) no-repeat right center ;
}
.form_type .required .title {
	position: relative;
	display: inline-block;
	width: auto;
}
.form_type .required .title::after {
	content: "*";
	color: #c9242b;
	position: absolute;
	right: -12px;
	top: 3px;
}
.tooltip {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/icon_tooltip.png) no-repeat center / contain;
	vertical-align: middle;
	margin-right:8px;
}
.red .tooltip {
	background: url(../img/icon_tooltip_red.png) no-repeat center / contain;
}
.notice{
	font-size: 14px;
}

.notice li {
	position: relative;
	word-break: keep-all;
	margin-bottom: 10px;
	padding-left: 25px;
}
.notice li .tooltip {
	position: absolute;
	left: 0;
	top: 1px;
}
.notice .red li {
	color: #c9242b;
}
.notice.small {
	font-size: 13px;
}
.notice.small li {
	padding-left: 20px;
}
.notice.small .tooltip {
	width: 15px;
	height: 15px;
	margin-right: 5px;
}
.accodian{
	position: relative;
}
.accodian .acc_btn {
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	right: 0;
	background: url(../img/acc_off.png);
}
.accodian .acc_btn.on{
	background: url(../img/acc_on.png);
}
.accodian .acc_conts {
	margin-top: 10px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 15px 0;
	font-size: 14px;
	font-weight: 200;
	color: #515151;
	display: none;
}

.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 16px;
	vertical-align: middle;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 2px;
	left: 0;
	right: 0;
	border-radius: 34px;
	bottom: 2px;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: all .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 0px;
	bottom: -3px;
	background-color: white;
	-webkit-transition: all .4s;
	transition: all .4s;
	border-radius: 50%;
	border: 1px solid #000;
	transform: translateX(0);
}

input:checked + .slider {
	background-color: #c9242b;
}

input:focus + .slider {
	box-shadow: 0 0 1px #c9242b;
}

input:checked + .slider:before {
	-webkit-transform: translateX(14px);
	-ms-transform: translateX(14px);
	transform: translateX(14px);
}
.hide {
	display: none;
}
.textarea_wrap {
	background-color: #f7f7f7;
	height: 100px;
}
.textarea_wrap textarea{
	height: 70px;
	overflow-y: auto;
	border: none;
	background-color: #f7f7f7;
	font-size: 13px;
	font-weight: 200;
}
.textarea_wrap textarea::placeholder {
	color: #000;
}
.textarea_wrap span {
	font-size: 13px;
	font-weight: 200;
	display: inline-block;
	padding: 0px 10px 15px 10px;
}
.radios > div {
	margin-bottom: 10px;
}
.btn_wrap > div:first-child {
	padding-right: 5px;
}
.btn_wrap > div:first-child button {
	background-color: #b9b9b9;
}
.btn_wrap > div:last-child {
	padding-left: 5px;
}
.section_title{
	text-align: center;
	font-size: 30px;
	padding-bottom: 70px;
	position: relative;
	margin-top: 50px;
}
.section_title:after{
	content: "";
	position: absolute;
	width: 1px;
	height: 40px;
	background-color: #000000;
	bottom: 0;
	left: 50%;
}
.section_title span {
	font-weight: 900;
}
.btn_wrap {
	text-align: center;
}
.btn_type {
	width:100%;
	max-width: 380px;
	padding: 10px 0;
	font-size: 16px;
	font-weight: 600;
	border-radius: 50px;
	color: #fff;
	background: #2f2f2f;
	text-align: center;
}
.btn_type.red {
	background: #d8191f;
}
.pg_title {
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	padding-top: 50px;
}
.pagenation{
	overflow: hidden;
	margin: 0 auto;
	width: fit-content;
	margin-top: 60px;
}
.pagenation ul {
	overflow: hidden;
	float: left;
}
.pagenation a {
	float: left;
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	border: 1px solid #e3e3e3;
	margin-left: 5px;
}
.pagenation ul li{
	display: inline-block;
	float: left;
	font-size: 14px;
	font-weight: 200;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin-right: 5px;
}
.pagenation ul li.on a{
	border: 1px solid #000;
	background-color: #000;
	color: #fff;
	font-weight: 900;
}
.pagenation .first{
	background: url(../img/ico_first.png) no-repeat center;
}
.pagenation .prev{
	background: url(../img/ico_prev.png)no-repeat center;
}
.pagenation .next{
	background: url(../img/ico_next.png)no-repeat center;
}
.pagenation .last{
	background: url(../img/ico_last.png)no-repeat center;
}
.for_m {
	display: none;
}
.for_pc{
	display: block;
}
.swiper {
	overflow: hidden;
}
.swiper_wrap{
	overflow-x: hidden;
}
.datepicker_wrap {
	position: relative;
	padding-right: 30px;
}
.datepicker_wrap::after {
	content: "";
	width: 17px;
	height: 15px;
	background: url(../img/icon_datepicker.png) no-repeat center / contain;
	position: absolute;
	top: calc( 50% - 7px );
	right: 10px;
}
.intro .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	background: url(../img/arr_prev.png) no-repeat center / contain;
	width: 20px;
}
.intro  .swiper-button-next{
	background: url(../img/arr_next.png) no-repeat center / contain;
	width: 20px;
}
/*
=======================================================================
popup
=======================================================================
*/

.layer_popup {
	display: none;
	z-index: 99999;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.4);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.layer_popup.on {
	display: block;
}
.layer_popup .popup {
	position: absolute;
	width: 100%;
	max-width: 480px;
	background: #fff;
	top: 50%;
	left: 50%;
}
.layer_popup .bt-wrap ul {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -4px;
	overflow: hidden;
}
.layer_popup button {
	border: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: transparent;
	outline: 0;
	text-align: center;
	cursor: pointer;
}

.layer_popup .popup.full_pop {
	height: 100vh;
	width: 100vw;
}
.layer_popup .scroll_pop .cont_area {
	max-height: calc( 100vh - 40px );
	overflow-y: auto;
}
.layer_popup  .pop_header {
	padding-left: 30px;
	padding-right: 30px;
}
.layer_popup  .pop_header .header_conts {
	position: relative;
	border-bottom: 2px solid #000;
	padding: 25px  0 20px 0;
}
.layer_popup  .cont_title {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	padding-top: 30px;
}
.layer_popup  .cont_title.border_b {
	border-bottom: 1px solid #ededed;
	padding-bottom: 20px;
}
.layer_popup .pop_btn {
	width:100%;
	padding: 10px 0;
	font-size: 16px;
	font-weight: 600;
	border-radius: 50px;
	color: #fff;
	background: #2f2f2f;
	text-align: center;
}
.layer_popup .pop_close {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/btn_close.png) no-repeat center / contain;
	position: absolute;
	right: 0;
	top: calc( 50% - 8px )
}
.layer_popup .conts {
	padding-bottom: 60px;
}
.layer_popup .conts .cont_sub_tit {
	text-align: center;
	margin: 15px 0 35px 0;
}
.layer_popup .basic_wrap {
	padding-left: 25px;
	padding-right: 25px;
}
.layer_popup  .deep_wrap {
	padding: 0 60px;
}
.layer_popup.h_full .popup{
	top: 0;
	height: 100%;
}
.layer_popup .scroll_area{
	padding-right: 30px;
	padding-left: 30px;
}
.layer_popup.h_full .scroll_area {
	height: calc( 100vh - 87px);
	overflow-y: auto;
}
.layer_popup .btm_box {
	padding-top: 15px;
	border-top: 1px solid #000;
	font-size: 14px;
}
.layer_popup .btm_box a {
	padding-right: 20px;
	background: url(../img/arrow.png) no-repeat right 5px ;
}
.layer_popup .btn_small{
	background-color: #2f2f2f;
	border-radius: 30px;
	padding: 2px 14px;
	color: #fff;
	font-size: 13px;
	font-weight: 200;
}
.layer_popup .btn_small.gray {
	background-color: #b9b9b9;
}
/*
=======================================================================
intro
=======================================================================
*/
.gray_box {
	background-color: #f6f7f7;
}
.intro .pg_title {
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	padding-top: 50px;
}
.intro .gray_box span {
	vertical-align: middle;
}
.intro .intro_cmt {
	font-size: 32px;
	text-align: center;
	background: url(../img/bg_txt.png) no-repeat center / contain;
	padding: 20px 70px;
	margin: 25px 0 50px 0;
}
.intro .lang button.on span{
	border-bottom: 1px solid #969696;
}
.intro .lang button{
	padding-left: 40px;
	background: url(../img/lang_ko.png) no-repeat 10% center;
}
.intro .lang button:nth-of-type(2){
	background: url(../img/lang_eng.png) no-repeat 10% center;
}
.intro .lang button:nth-of-type(3){
	background: url(../img/lang_jp.png) no-repeat 10% center;
}
.intro > .gray_box {
	padding: 50px 0;
} 
.intro > .gray_box > .red {
	font-size: 30px;
	margin-bottom: 20px;
}
.intro .redir_tab {
	margin-top: 50px;
	margin-bottom: 90px;
}
.intro .redir_tab > div {
	padding: 0 4px;
}
.intro .redir_tab a{
	padding: 20px 0;
	display: inline-block;
	width: 100%;
	font-size: 20px;
	border-bottom: 1px solid #5a5a5a;
	color: #5a5a5a;
}
.intro .redir_tab .on a {
	border-bottom: 2px solid #000;
	color: #000;
	font-weight:  600;
}
.intro .part1 .imgs {
	max-width: 780px;
	margin: 15px auto 0 auto;
}
.intro .part1 .imgs > div {
	vertical-align: middle;
}
.intro .part2 .keywords{
	margin-top: 20px;
	margin-bottom: 45px;
}
.intro .part2 .keywords > span {
	display: inline-block;
	padding: 15px 0;
	width: 205px;
	text-align: center;
	border-radius: 50px;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}
.intro .part2 .keywords > span:nth-of-type(2),.intro .part2 .keywords > span:nth-of-type(3){
	margin-left: -30px;
}
.intro .part2 .gray_box {
	padding: 50px 0;
}
.intro .part2 .gray_box .red {
	font-size: 30px;
	font-weight: 600;
	padding-bottom: 30px;
	margin-bottom: 30px;
	background: url(../img/arrow_red.png) no-repeat center bottom;
}
.intro .part2 .gray_box img {
	max-width: 992px;
	margin: 50px auto 0 auto;
}

.intro .part3 .gray_box {
	padding: 50px 0;
}
.intro .part3 .context_box {
	max-width: 500px;
	padding: 50px 60px ;
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
}
.intro .part3 .context_box .tit {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
}
.intro .part3 .context_box .sub {
	text-align: center;
	margin-top:10px;
}
.intro .part3 .info {
	margin-top: 30px;
	margin-bottom: 40px;
}
.intro  .top_box {
	padding: 50px 0;
}
.intro  .top_box .red {
	font-size: 30px;
	margin-bottom: 20px;
} 
.intro .map {
	width: 100%;
	height: 400px;
	background-color: #f1f1f1;
}
.intro .acc_conts {
	border: none;
}
.intro .part3 .acc_conts .tit{
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	margin-bottom: 5px;
}
.intro .part3 .acc_conts table th{
	border-top: 1px solid #000;
	
}
.intro .acc_conts table {
	margin-top: 10px;
}
.intro .acc_conts table td, .intro .acc_conts table th {
	text-align: center;
	font-size: 14px;
	font-weight: 200;
	padding: 5px 10px;
	border-bottom: 1px solid #000;
	border-left :1px solid #e3e3e3
}
.intro .acc_conts table td:first-child, 
.intro .acc_conts table th:first-child {
	border-left :none
}
.intro .acc_conts table td {
	background-color: #f7f7f7;
}
.intro .swiper_wrap {
	margin-top: 50px;
	width: 100%;
	overflow: hidden;
	position: relative;
	padding-bottom: 68px;
	border-bottom: 1px solid #e3e3e3;
}
.intro .swiper_wrap .swiper-button-prev{
	top: auto;
	bottom: 30px;
	left: calc( 50% - 40px );
}
.intro .swiper_wrap .swiper-button-next{
	top: auto;
	bottom: 30px;
	right: calc( 50% - 40px );

}
.intro .swiper {
	width: 114%;
}

/*
=======================================================================
login
=======================================================================
*/
.login .login_box{
	
}
.login .kakao {
	background: url(../img/kakao.png) no-repeat 20px center, #fee500;
	color: #000;
	font-size: 15px;
	font-weight: 400;
}
.login .naver{
	border:1px solid #04cf5c;
	color: #04cf5c;
	background: url(../img/naver.png) no-repeat 20px center, #fff;
	font-size: 15px;
	font-weight: 400;
}
.login p.email {
	text-align: center;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 32px;
}
.login p.email > span {
	background-color: #fff;
	display: inline-block;
	padding: 0 10px;
	z-index: 5;
	top: 6px;
	left: calc( 50% - 60px );
	position: absolute;
}
.login p.email::before{
	content: "";
	width: 100%;
	height: 1px;
	background: #ededed;
	left: 0;
	top: 50%;
	position: absolute;
	z-index: 0;
}
.login .remem_id {
	margin-top: 20px;
}

.login .find_area {
	max-width: 200px ;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 35px;
}
.login .find_area > div:first-child {
	position: relative;
}
.login .find_area > div:first-child:after{
	content: "";
	position: absolute;
	height: 12px;
	width: 1px;
	background-color: #ededed;
	right: 3px;
	top: 5px;
}

/*
=======================================================================
email_none
=======================================================================
*/


.email_none .gray_box {
	padding: 25px 0;
	background-color: #f0f0f0;
	border: 1px solid #e1e1e1;
	margin-bottom: 45px;
}
/*
=======================================================================
이메일 발송안내
=======================================================================
*/
.send_mail .mail_icon{
	position: relative;
	height: 60px;
	width: 100%;
	margin-bottom: 20px;
}
.send_mail .mail_icon > .img_wrap {
	position: absolute;
	left: calc( 50% - 60px);
	padding: 0 30px;
	background-color: #fff;
	z-index: 9;
}
.send_mail .mail_icon:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #ededed;
	left: 0;
	top: 50%;
	z-index: 1;
}
/*
=======================================================================
회원가입
=======================================================================
*/
.join .btm_box {
	margin-top: 45px;
}
.join .btm_box.tb > div:first-child {
	width: 60%;
}
.join  .kakao{
	position: relative;
}
.join  .kakao .add_cmt {
	position: absolute;
	top: -45px;
	right: 0;
	display: inline-block;
	padding: 10px 15px 20px 15px;
	background: url(../img/bg_word.png) no-repeat center / contain;
	color: #fee500;
	font-size: 12px;
	font-weight: 200;
}


.join_step .term,
.user_info .term{
	font-size: 14px;
	font-weight: 200;
	border-top: 1px solid #000;
	padding-top: 20px;	
}
.join_step .all_check,
.user_info .all_check{
	margin-bottom: 25px;
	border-top: 1px solid #000;
	padding-top: 15px;
}
.join_step .check_item,
.user_info .check_item{
	position: relative;
	margin-bottom: 12px;
	font-size: 14px;
}
.join_step  .acc_conts,
.user_info .acc_conts{
	max-height: 110px;
	overflow-y: auto;
	font-size: 12px;
}
.email_send .btm_wrap{
	margin-top: 45px;
}


/*
=======================================================================
계정정보
=======================================================================
*/
.user_info .sns_login {
	border-radius: 50px;
	padding: 10px 20px 10px 66px;
	font-size: 15px;
	font-weight: 400;
	position: relative;
	
}
.user_info .sns_login.email {
	background-color: #2f2f2f;
	padding: 10px 20px;
}
.user_info .sns_login.email span {
	color: #fff !important;
	font-size: 13px;
	font-weight: 200;
}
.user_info .sns_login.kakao {
	background: url(../img/kakao.png) no-repeat 20px center, #fee500;
	color: #000;
}
.user_info .sns_login.naver{
	border:1px solid #04cf5c;
	color: #04cf5c;
	background: url(../img/naver.png) no-repeat 20px center, #fff;
}
.user_info .sns_login .btn_tg {
	position: absolute;
	right: 20px;
	top: 12px;
	font-size: 13px;
	font-weight: 200;
	
}
.user_info .btn_tg {

}
.user_info .btn_tg > span{
	color: #000;
	font-size: 13px;
	font-weight: 200;
	line-height: 20px;
	display: inline-block;
	margin-left: 5px;
}
.user_info  .sec_tit {
	font-size: 16px;
	font-weight: 600;
	margin-top: 30px;
}
.user_info .gray_box {
	padding:  10px 20px;
	background-color: #f7f7f7;
	margin-top: 10px;
	font-weight: 200;
}
.user_info .terms .gray_box{
	position: relative;
}
.user_info .terms .gray_box{
	font-size: 13px;
	padding-bottom: 25px;
}
.user_info .terms .gray_box .switch {
	position: absolute;
	right: 20px;
	top: 15px;
}
.user_info .pw_change {
	border-bottom: 2px solid #000;
	position: relative;
	padding-bottom: 10px;
} 

.user_info .pw_change button {
	position: absolute;
	right: 0;
	top: 2px;
}
.user_info .redir_area {
	text-align: center;
	margin-top: 40px;
	padding-top: 25px;
	border-top: 1px solid #e3e3e3;
}
.user_info .redir_area a {
	padding-right: 15px;
	background: url(../img/arrow.png) no-repeat right center;
}
.user_info.user_info2 .sns_login{
	padding-left: 47px;
}
.user_info.user_info2 .sns_login.email {
	padding-left: 20px;
}
.user_info.user_info2 .sns_login > span{
	font-weight:200 ;
	color: #000;
}
.user_info.user_info2  .section.email1 > p.add {
	font-size: 13px;
	font-weight: 200;
}
.user_info.user_info2 .section.bor{
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 10px;
}
.user_info.user_info2 .pw_info {
	overflow: hidden;
	margin-top: 15px;
}
.user_info.user_info2 .pw_info > span {
	font-size: 13px;
	font-weight: 200;
	color: #ababab;
}
.user_info.user_info2 .pw_info .btn_tg{
	float: right;
}
.pw_change_noti .cont_sub_tit {
	border-bottom: 1px solid #ededed;
	padding-bottom: 40px;
}
.user_info  .email2 .sec_tit {
	margin-top: 20px
}
/*
=======================================================================
탈퇴
=======================================================================
*/
.join_out h3{
	margin-bottom: 20px;
	margin-top: 35px;
	font-size: 20px;
}
/*
=======================================================================
채용
=======================================================================
*/

.incruit .cmt {
	background: url(../img/bg_txt2.png) no-repeat center / contain;
	padding: 20px 0;
	margin: 15px 0 85px 0;
	position: relative;
}
.incruit .cmt::after {
	content: "";
	width: 30px;
	height: 30px;
	background: url(../img/img_arrow.png) no-repeat center ;
	position: absolute;
	bottom: -40px;
	left: calc( 50% - 15px );
}
.incruit .gray_box{
	padding: 50px 0;
	max-width: 900px;
	margin: 0 auto;
	position: relative;
}
.incruit .gray_box::after{
	content: "";
	width: 55px;
	height: 55px;
	position: absolute;
	background: url(../img/icon01.png) no-repeat center / contain;
	top: -27px;
	left: calc( 50% - 27px );
}
.incruit .img_wrap {
	width: 100%;
	overflow: hidden;
}
.incruit .img_wrap img {
	min-width: 760px;
}
/*
=======================================================================
공지사항
=======================================================================
*/
.search_top {
	width: 100%;
	overflow: hidden;
}
.search_top > div {
	width : 50%;
	float: left;
}
.search_top .left button {
	width: 100px;
	padding: 10px 0;
}
.search_top .left button.on {
	background-color: #d8191f;
	color: #fff;
	border-radius: 50px;
}
.search_top input{
	border: none;
}
.search_top input:read-only {
	background-color: #fff;
}
.search_top .right .input_wrap{
	border: 1px solid #cdcdcd;
	border-radius: 50px;
	overflow: hidden;
	width: 100%;
	position: relative;
}
.search_top .right .input_wrap button.search {
	position: absolute;
	right: 10px;
	top: 5px;
	width: 27px;
	height:30px;
	background: url(../img/btn_search.png) no-repeat center;
}
.search_top .right .input_wrap > div {
	border-left: 1px solid #cdcdcd;
}

.search_top .right .input_wrap > div:first-child{
	border-left: none
}
.search_top .right .input_wrap > div:nth-of-type(1),
.search_top .right .input_wrap > div:nth-of-type(2){
	width: 18%;
}
.search_top .right .input_wrap input {
	width: 100%;
	padding-left: 15px;
	padding-right: 0;
}
.table_type{
	border-top: 1px solid #000;
}
.table_type .flex_type {
	padding: 30px 0;
	border-bottom: 1px solid #e3e3e3
}
.table_type .flex_type span{
	display: inline-block;
}
.table_type .flex_type span:nth-of-type(1) {
	width: 10%;
	text-align: center;
}
.table_type .flex_type span:nth-of-type(2) {
	width: 50%;
	font-weight: 600;
}
.table_type .flex_type span:nth-of-type(3) {
	width: 20%;
	font-weight: 200;
	color: #878787;
	text-align: center;
}
.table_type .flex_type span:nth-of-type(4) {
	width: 10%;
	font-weight: 200;
	color: #878787;
	text-align: center;
}
.table_type .flex_type span:nth-of-type(5) {

}
.table_type  .accodian .acc_btn {
	padding-top: 5px;
	transform: rotateX(180deg);
	background: url(../img/acc_off2.png) no-repeat center / contain;
}
.table_type  .accodian .acc_btn.on {
	background: url(../img/acc_on2.png) no-repeat center / contain;
}
.table_type  .accodian .acc_conts {
	margin-top: 0;
	background-color: #fafbfb;
	padding: 30px 80px;
	border:none;
	border-bottom: 1px solid #e3e3e3
}
.layer_popup .terms .cont_title{
	margin-bottom: 30px;
}
@media (max-width: 1000px) {
	.container {
		padding: 0 30px;
	}
}
@media (max-width: 760px) {

	h1.pg_title{
		font-size: 30px;
	}
	
	.search_top .right .input_wrap input {
		font-size: 13px;
	}
	.table_type .flex_type{
		padding: 20px 0;
	}
	.table_type .accodian .acc_conts{
		font-size: 12px;
		padding: 30px 20px;
	}
	.for_m {
		display: block;
	}
	.for_pc{
		display: none;
	}
	.container {
		padding: 0 20px;
	}
	.layer_popup .popup {
		height: 100vh;
		width: 100vw;
		max-width: none;
	}
	.layer_popup .scroll_area {
		height: calc( 100vh - 87px);
		padding: 0 25px;
		overflow-y: auto;
		padding-bottom: 170px;
	}
	.layer_popup  .pop_header {
		padding-left: 25px;
		padding-right: 25px;
	}
	.layer_popup  .deep_wrap {
		padding: 0;
	}

	.layer_popup .basic_wrap{
		padding-left: 0;
		padding-right: 0;
	}
	.notice {
		font-size: 13px;
	}
	.tooltip {
		width:18px;
		height:18px;
	}
	.intro p, .intro div{
		font-size: 14px;
		word-break: keep-all;
	}
	.intro .part2 .keywords > span {
		width: 34%;
		font-size: 13px;
	}

	.intro .part2 .keywords > span:nth-of-type(2), 
	.intro .part2 .keywords > span:nth-of-type(3){
		margin-left: -23px;
	}
	.intro .intro_cmt {
		font-size: 17px;
	}
	.intro .top_box .red {
		font-size: 20px;
	}
	.intro .top_box{
		padding-left: 20px;
		padding-right: 20px;
	}
	.intro .part3 .context_box {
		padding-left: 0;
		padding-right: 0;
	}
	.intro .redir_tab > div {
		display: inline-block;
		width: 50%;
	}
	.intro .redir_tab  a{
		font-size: 14px;
		padding: 15px 0;
	}

	.intro .section_title{
		font-size: 20px;
		padding-bottom: 60px;
	}
	.intro .part3 .gray_box {
		padding: 0;
		background-color: #fff;
	}
	.intro .part2 .gray_box .red{
		font-size: 20px;
	}
	.intro .part2 .gray_box{
		padding-left: 20px;
		padding-right: 20px;
	}
	.intro .part3 .context_box .tit{
		font-size: 15px;
	}
	.intro .part3 .context_box .acc_conts p,
	.intro .part3 .context_box .acc_conts div,
	.intro .part3 .context_box .acc_conts table td,
	.intro .part3 .context_box .acc_conts table th{
		font-size: 12px;
	}
	.intro .part3 .context_box .sub{
		font-size: 12px;
	}
	.incruit .cmt {
		font-size: 12px;
	}
	.incruit .gray_box{
		font-size: 12px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.tooltip{
		width: 15px;
		height: 15px;
	}

	.container {
		padding-bottom: 130px;
	}

	.layer_popup .scroll_area {
		padding-bottom: 130px;
	}
	.layer_popup .conts {
		padding-bottom: 0;
	}
	.notice_page .table_type span{
		font-size: 12px;
	}
	.notice_page .table_type span:nth-of-type(1){
		display: none;
	}
	.notice_page .table_type span:nth-of-type(4){
		display: none;
	}
	.table_type .flex_type span:nth-of-type(2){
		width: 70%;
	}
	.table_type .accodian .acc_btn {
		width: 15px;
		height: 15px;
	}
	.search_top .left {
		width: 100%;
		margin-bottom: 10px;
	}
	.search_top .left .select_wrap{
		border: 1px solid #d2d2d2;
		border-radius: 50px;
		padding-right: 10px;
		padding-left: 10px;
	}
	.search_top .left select{
		width: 100%;
		border: none;
	}
	.search_top .right {
		width: 100%;
	} 
}
@media (max-width: 600px) {
	.user_info.user_info2  .section.email1 > p.add {
		font-size: 12px;
	}
	.incruit .img_wrap img {
		margin-left: -100px;
	}
	.incruit .cmt {
		background: none;
	}
	.intro .part1 .imgs{
		display: inline-block;
		text-align: center;
	}
	.intro .part1 .imgs > div {
		display: inline-block;
		width: 30%;
	}
	.datepicker_wrap {
		padding-right: 20px;
	}
	.datepicker_wrap::after{
		right: 5px;
	}
	.search_top .right .input_wrap input{
		padding-left: 10px;
		font-size: 12px;
	}
	.search_top .right .input_wrap button.search{
		width: 15px;
		background: url(../img/btn_search.png) no-repeat center / contain;
	}
	.search_top .right .input_wrap > div:nth-of-type(1), .search_top .right .input_wrap > div:nth-of-type(2){
		width: 22%;
	}
}
@media (max-width: 380px) {
	.incruit .img_wrap img {
		margin-left: -150px;
	}
	.layer_popup .conts .cont_sub_tit{
		font-size: 14px;
	}
}